.search {
  margin-top: 50px;
  width: 100%;

  & > form {
    & > section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .select-custom {
        width: 200px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      & > span:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .search {
    & > form {
      & > section {
        justify-content: space-between !important;

        & > span:last-child {
          justify-content: space-around !important;
          & > Button:last-child {
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
