.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px 10px;
  border: 1px solid #bebebe;
  border-radius: 10px;

  .card-cover img {
    border-radius: 10px 10px 0 0;
  }

  .card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > section:first-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    & > section:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;

      & > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .address {
      font-size: 12px;
      font-weight: 400;
    }

    .type {
      font-size: 23px;
      font-weight: 400;
    }

    .price {
      font-size: 35px;
      font-weight: 400;
    }
  }
}

.card-modal {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;

    .address {
      font-size: 12px;
      font-weight: 400;
    }

    .type {
      font-size: 28px;
      font-weight: 400;
    }

    .price {
      font-size: 35px;
      font-weight: 500;
    }
  }

  .modal-content {
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .optionals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;

    & > span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 10px 10px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      font-size: 30px;
    }
  }
}
